*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.films{
    overflow: scroll;
    display: flex; 
    flex-wrap: wrap; 
    gap: 24px;
    width: 1092px;
    height: 301px;
}

.films::-webkit-scrollbar{
    display: none;
}

.films2{
    height: 86px;
    position: relative;
    bottom: 92px;
    background-color: #f5f5f5;
    border-radius:0 0 20px 20px;
}

.films2 h3{
    font-size: 16px;
    max-width: 255px;
    height: 20px;
}

.films img{
    width: 255px;
    height: 301px;
    object-fit: cover;
    border-radius: 20px;
}

.left-navbar{
    width: 274px;
    height: 1024px;
}

section{
    width: calc(1166px + 274px);
    height: 1024px;
    background-color: #21201E;
    position: relative;
}

header{
    width: 1166px;
    height: 455px;
}

.cantener{
    display: flex;
}

.big_films{
    position: absolute;
    right: 42px;
    bottom: 136px;
}

.left-navbar__nav{
    width: 274px;
    height: 1024px;
    padding: 44px 0 163px 35px;
}

.li1 ul li{
    list-style: none;
}

.left-navbar__nav__ul__li1 a{
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.li1 a{
    text-decoration: none;
}

.li1{
    list-style: none;
}

.left-navbar__nav__ul__li2 a{
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.left-navbar__nav__ul__li3 a{
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.left-navbar__nav__ul__li4 a{
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.left-navbar__nav__ul__li2{
    margin-bottom: 122px;
}

.left-navbar__nav__ul__li3{
    margin-bottom: 257px;
}

.li2{
    margin-bottom:35px;
}

.li3{
    margin-bottom: 33px;
}

.li4{
    margin-bottom: 23px;
}

header{
    width: 1166px;
    height: 455px;
    background-image: url('./img/horry\ poter.png');
    padding: 40px 47px 53px 32px;
    position: relative;
}

.navbar{
    width: 1087px;
    height: 32px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li1 ul li a{
    text-decoration: none;
    color: #ffffff;
}

.navbar__li1 ul {
    gap: 32px;
}

.navbar__li2 ul li a{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.navbar__li2 ul{
    gap: 24px;
}

.text5{
    position: absolute;
    left: 32px;
    bottom: 165px;
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 500;
}

.text6{
    position: absolute;
    left: 32px;
    bottom: 143px;
    font-size:14px;
    color: #FFFFFF;
}

.btn1{
    width: 139px;
    height: 54px;
    position: absolute;
    left: 32px;
    bottom: 53px;
    font-size:16px;
    color: #FFFFFF;
    background-color: #6100C2;
    border-radius: 14px;
}

.btn2{
    position: absolute;
    left: 187px;
    bottom: 53px;
}

input{
    width: 300px;
    height: 46px;
    border-radius: 16px;
    background: linear-gradient(to right bottom,#FFFFFF 0%, #6d6969 100%);
    padding: 8px 0 8px 10px;
    margin: 25px 0 25px 0;
}

.text7{
    font-size: 20px;
    color: #FFFFFF;
}